body {
  background-image: url('/media/MedBackgoundHorizontal.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  font-family: 'Pacifico', cursive;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #2f788a;
}

.site-header .navbar-nav .nav-link {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffff22;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
  box-shadow: 10px 10px 48px 0px rgba(47,120,138,1);
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}


.news-img {
  width: 100%;
  height: auto;
}

.account-heading {
  font-size: 2.5rem;
}

#map {
  height: 400px;
  width: 100%;
  box-shadow: 10px 10px 48px 0px rgba(47,120,138,1);
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #2f788a;
  color: white;
  text-align: center;
}

.logo-img {
  height: 15px;
  width: auto;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.main-logo-img {
  height: 30px;
  width: auto;
  margin-left: 2px;
  margin-right: 40px;
  margin-top: 2px;
  margin-bottom: 2px;
}

#Fixing links style: no underscore, no blue color
a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:active {
    color: black;
    text-decoration: none;
}

a:hover {
    color: blue;
    text-decoration: none;
}

.scrollup {
    width: 75px;
    height: 75px;
    background: url("/media/news_pics/scroll.png");
    background-repeat: no-repeat;
    background-size: cover;
    position : fixed;
    right: 25px;
    bottom: 45px;
    display: none;
    z-index:1;
}

.whatwedo {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    text-align: center;
    padding: 0;
}

.whatwedo  > h1 {
    font-size: 50px;
    margin-bottom: 30px;
}

.domains {
  align-items: center;
}

.ourdomain {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.ourdomain img {
    border-radius: 10px;
    box-shadow: 10px 10px 48px 0px rgba(47,120,138,1);
}

.domainfoto {
    max-width: 100%;
    width: 480px;
    height: auto;
}

.domainfoto2 {
    transition: all 0.5s ease-in-out;
}

.domainfoto2:hover {
    transform: scale(0.9);
}

figure {
    margin: 10px;
    padding: 0;
}

figcaption {
    margin-top: 10px;
}

.details {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.domeindetail {
    padding: 10px;
    text-align: justify;
    padding-top: 60px;
    padding-bottom: 60px;
}

.domeindetailimage {
    display: inline-block;
    margin-left: 30px;
    margin-right: 10px;
    max-width: 100%;
    width: 240px;
    height: auto;
}

.domeindetailimage img {
    border-radius: 10px;
    box-shadow: 10px 10px 48px 0px rgba(47,120,138,1);
}

.domeindescription {
    vertical-align: middle;
    display: inline-block;
    width: 70%;
}

.domeindescription h2 {
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
}

.socialmedia {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.socialportal {
    background-color: transparent;
    width: 25%;
    height: auto;
    display: inline-block;
    font-size: 110px;
}

.socialportal:hover {
    opacity: 0.6;
    text-decoration: none;
}

.facebookfont {
    color: blue;
}

.youtubefont {
    color: red;
}

input[type='file']
{
  color: transparent;
}

input[type='file']:hover
{
  color: black;
}

#galerrySlider img {
    margin-left: auto;
    margin-right: auto;
    max-height: 95%;
    max-width: 95%;
    width: 95%;
    height: auto;
    border-radius: 5px;
}