{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

     <div class="container">
          <header>
               <h3 class="text-center">lista zakupów w przygotowaniu</h3>
          </header>

          <div class="row">
              <div class="col-md-12">

                  <div class="border text-center rounded bg-light mb-5">
                      <table class="table">
                          <tr>
                              <th></th>
                              <th><h5>Produkt:</h5></th>
                              <th><h5>Cena:</h5></th>
                              <th><h5>Ilość:</h5>
                              </th>
                              <th><h5><strong>Cena łączna:</strong></h5></th>
                          </tr>

                          {% for item in items %}
                          <tr>
                              <th>
                                  <a href="#"><!--id="storelink5"-->
                                    <img src="{{ item.product.imageURL }}" class="img-fluid text-center" style="max-width: 50px; height: auto;">
                                  </a>
                              </th>
                              <th><h5>{{ item.product.name }}</h5></th>
                              <th><h5>{{ item.product.price|floatformat:2 }}zł</h5></th>
                              <th>
                                  <img class="store-quant-img update-cart" data-product="{{ item.product.id }}" data-action="remove" src="/media/gallery/prev2.png">
                                  <h5 class="store-quant">{{ item.quantity }}</h5>
                                  <img class="store-quant-img update-cart" data-product="{{ item.product.id }}" data-action="add" src="/media/gallery/next2.png">
                              </th>
                              <th><h5><strong>{{ item.get_total }} zł</strong></h5></th>
                          </tr>
                          {% endfor %}
                      </table>
                  </div>

                  <div class="border text-center rounded bg-light mb-1">
                      <table class="table">
                          <tr>
                              <th>
                                  <a href="{% url 'serw-med-store' %}"><button class="btn btn-outline-info m-1">Sklep</button></a>
                              </th>
                              <th><h5>Produkty: <strong>{{ order.get_cart_items }}</strong></h5></th>
                              <th><h5>Kwota: <strong>{{ order.get_cart_total }} zł</strong></h5></th>
                              <th>
                                  <a href="{% url 'serw-med-checkout' %}"><button class="btn btn-outline-info m-1">Zamów</button></a>
                              </th>
                          </tr>
                      </table>
                  </div>

              </div>
          </div>
     </div>

     <script type="text/javascript" src="{% static 'tokenCSRF.js' %}"></script>
     <script type="text/javascript" src="{% static 'cookie.js' %}"></script>

     <script type="text/javascript">
         var requestUser = '{{ request.user }}'
     </script>
     <script type="text/javascript" src="{% static 'store.js' %}"></script>

{% endblock %}