{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

    <div class="container">
          <header>
               <h3 class="text-center">potwierdzenie zamówienia</h3>
          </header>

          <div class="row">
              <div class="col-md-6">
                  <div id="form-wrapper" class="border text-center rounded bg-light mb-5">
                      <form id="form">
                          <div id="user-info">
                              <p>Informacje o użytkowniku</p>
                              <div class="form-field">
                                  <input required class="form-control" type="text" name="login" placeholder="login...">
                              </div>

                              <div class="form-field">
                                  <input required class="form-control" type="email" name="email" placeholder="email...">
                              </div>
                          </div>

                          <div id="shipping-info">
                              <p>Informacje o dostawie</p>
                              <div class="form-field">
                                  <input required class="form-control" type="text" name="adres" placeholder="adres... ">
                              </div>
                              <div class="form-field">
                                  <input required class="form-control" type="text" name="kod" placeholder="kod... ">
                              </div>
                              <div class="form-field">
                                  <input required class="form-control" type="text" name="miasto" placeholder="miasto... ">
                              </div>
                              <div class="form-field">
                                  <input class="form-control" type="text" name="telefon" placeholder="telefon... ">
                              </div>
                          </div>

                          <input id="store-form" type="submit" value="Potwierdż" class="btn btn-outline-info m-1">
                      </form>
                  </div>

                  <div class="border text-center rounded bg-light mb-5 hidden" id="payment-info">
                      <strong>Formy płatności</strong>
                      <p class="mt-5">1)Przedpłata przelewem na konto</p>
                      Serwis Aparatury Medycznej SERW-MED Wiesława Górecka<br>
                      Bielicka 8/13 85-307 Bydgoszcz<br>
                      NIP: 9531756238<br>
                      REGON: 385787674<br>
                      Bank: ING Bank Śląski S.A. 33 1050 1139 1000 0097 2756 3901<br>
                      <input id="make-order" value="Potwierdż" class="btn btn-outline-info m-1">

                      <p class="mt-5">2) PayPal</p>
                      <input id="make-payment" value="Zapłać" class="btn btn-outline-info m-1">
                  </div>
              </div>

              <div class="col-md-6">
                  <div class="border text-center rounded bg-light mb-5">
                      <a href="{% url 'serw-med-cart' %}"><button class="btn btn-outline-info m-1">Modyfikuj</button></a>
                      <p>Podsumowanie zamówienia</p>
                      <table class="table">
                          {% for item in items %}
                          <tr>
                              <th>
                                  <a href="#"><!--id="storelink5"-->
                                    <img src="{{ item.product.imageURL }}" class="img-fluid text-center" style="max-width: 35px; height: auto;">
                                  </a>
                              </th>
                              <th><h5>{{ item.product.name }}</h5></th>
                              <th><h5>{{ item.quantity }}</h5></th>
                              <th><h5>{{ item.get_total }} zł</h5></th>
                          </tr>
                          {% endfor %}
                          <tr>
                              <th></th>
                              <th><h5>Produkty: <strong>{{ order.get_cart_items }}</strong></h5></th>
                              <th></th>
                              <th><h5>Kwota: <strong>{{ order.get_cart_total }} zł</strong></h5></th>
                          </tr>
                      </table>
                  </div>
              </div>
          </div>
    </div>

    <script type="text/javascript" src="{% static 'tokenCSRF.js' %}"></script>
    <script type="text/javascript" src="{% static 'cookie.js' %}"></script>

    <script type="text/javascript">
        var redirectToStore = {% url 'serw-med-store' %}
        var cartTotal = '{{ order.get_cart_total }}'
        var orderShipping = '{{ order.shipping }}'
        var requestUser = '{{ request.user }}'
    </script>
    <script type="text/javascript" src="{% static 'checkout.js' %}"></script>

{% endblock %}