{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

     <div class="container">
          <header>
               <h3 class="text-center">sklep w przygotowaniu</h3>
          </header>

          <div class="row">

               {% for product in products %}
               <div class="col-md-4 mb-3">
                    <figure class="border text-center rounded bg-light">
                         <a href="#" id="storelink1">
                              <img src="{{ product.imageURL }}" class="img-fluid float-left my-1 p-1"><!--src="/media/store/placeholder.png"-->
                         </a>
                         <figcaption class="p-1">{{ product.name }}
                             <h5 class="float-right mr-2">{{ product.price|floatformat:2 }} zł</h5>
                         </figcaption>
                         <button data-product={{ product.id }} data-action="add" class="btn btn-outline-info my-1 update-cart">Dodaj do koszyka</button>
                    </figure>
               </div>
               {% endfor %}

          </div>
     </div>

     <script type="text/javascript" src="{% static 'tokenCSRF.js' %}"></script>

     <script type="text/javascript">
         var requestUser = '{{ request.user }}'
     </script>
     <script type="text/javascript" src="{% static 'store.js' %}"></script>

{% endblock %}