{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

     <div class="container">
          <header>
               <h3 style="text-align: center;">sklep w przygotowaniu</h3>
          </header>

          <div class="row">
               <div class="col-md-4">
                    <figure>
                         <a href="#" id="storelink1">
                              <img src="/media/store/placeholder.png" class="img-fluid float-left my-1">
                         </a>
                    </figure>
               </div>

              <div class="col-md-4">
                    <figure>
                         <a href="#" id="storelink2">
                              <img src="/media/store/placeholder.png" class="img-fluid float-left my-1">
                         </a>
                    </figure>
               </div>

               <div class="col-md-4">
                    <figure>
                         <a href="#" id="storelink3">
                              <img src="/media/store/placeholder.png" class="img-fluid float-left my-1">
                         </a>
                    </figure>
               </div>

              <div class="col-md-4">
                    <figure>
                         <a href="#" id="storelink4">
                              <img src="/media/store/placeholder.png" class="img-fluid float-left my-1">
                         </a>
                    </figure>
               </div>

              <div class="col-md-4">
                    <figure>
                         <a href="#" id="storelink5">
                              <img src="/media/store/placeholder.png" class="img-fluid float-left my-1">
                         </a>
                    </figure>
               </div>

               <div class="col-md-4">
                    <figure>
                         <a href="#" id="storelink6">
                              <img src="/media/store/placeholder.png" class="img-fluid float-left my-1">
                         </a>
                    </figure>
               </div>
          </div>
     </div>

{% endblock %}