{% extends "base.html" %}
{% block content %}

    <article>

        <section>
            <header>

                <div class="whatwedo">
                    <h1>O nas</h1>
                    <p>Jesteśmy autoryzowanym serwisem aparatury medycznej, stomatologicznej, kosmetycznej i rtg wielu wiodących,
                        światowych producentów. Zajmujemy się przeglądem technicznym, naprawą, montażem i modernizacją sprzętu od ok 40 lat.
                        Nasze usługi realizujemy w szpitalach, gabinetach lekarskich, dentystycznych, kosmetycznych.</p>
                </div>

            </header>

            <div class="domains">

                <div class="ourdomain">
                    <figure>
                        <a href="#">
                            <img class="domainfoto" src="/media/domains/dent.jpg">
                        </a>
                        <figcaption>aparatura dentystyczna</figcaption>
                    </figure>
                </div>

                <div class="ourdomain">
                    <figure>
                        <a href="#">
                            <img class="domainfoto" src="/media/domains/hospital.jpg">
                        </a>
                        <figcaption>aparatura medyczna</figcaption>
                    </figure>
                </div>

                <div class="ourdomain">
                    <figure>
                        <a href="#">
                            <img class="domainfoto" src="/media/domains/cosmetology.jpg">
                        </a>
                        <figcaption>aparatura kosmetyczna</figcaption>
                    </figure>
                </div>

                <div class="ourdomain">
                    <figure>
                        <a href="#">
                            <img class="domainfoto" src="/media/domains/rtg.jpg">
                        </a>
                        <figcaption>rtg</figcaption>
                    </figure>
                </div>

            </div>

        </section>

        <section>

        </section>

        <section>

        </section>

    </article>

{% endblock %}