{% extends "base.html" %}
{% block content %}

    <h1>SERW-MED ABOUT</h1>


    <div class="footer">
        <a href="https://www.djangoproject.com" target="_blank">
            <img class="logo-img" src="/media/logo/django.png">
        </a>
        <a href="https://github.com" target="_blank">
            <img class="logo-img" src="/media/logo/github.png">
        </a>
        <a href="https://circleci.com" target="_blank">
            <img class="logo-img" src="/media/logo/circleci.png">
        </a>
        <a href="https://www.heroku.com/home" target="_blank">
            <img class="logo-img" src="/media/logo/heroku.png">
        </a>
    </div>

{% endblock %}