{% load static %}
<!DOCTYPE HTML>
<html lang="pl">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="descripion" content="serwis naprawy aparatury medycznej SERW-MED">
        <meta name="keywords" content="serwis, aparatura medyczna, aparatura dentystyczna, rtg, autoklawy">
        <meta name="author" content="Piotr Górecki">

        <link rel="shortcut icon" href="/media/logo/serwmedIcon.png">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
        <link rel="stylesheet" type="text/css" href="/media/fontello/css/fontello.css">
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

        <script type="text/javascript" src="{% static 'timeAndDate.js' %}"></script>

        {% if title %}
            <title>SERW-MED {{ title }}</title>
        {% else %}
            <title>SERW-MED</title>
        {% endif %}
    </head>

    <body onload="currentTimeAndDate();">
        <header class="site-header">
            <nav class="navbar navbar-expand-lg navbar-dark bg-steel fixed-top">
                <div class="container">
                    <a class="navbar-brand" href="{% url 'serw-med-about' %}">
                        <img class="main-logo-img" src="/media/logo/serwmedWhite.png">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarToggle">
                        <div class="navbar-nav mr-auto">
                            <a class="nav-item nav-link" href="{% url 'serw-med-about' %}">Firma</a>
                            <a class="nav-item nav-link" href="{% url 'serw-med-cont' %}">Kontakt</a>
                            <a class="nav-item nav-link" href="{% url 'serw-med-news' %}">Aktualności</a>
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="#" data-toggle="dropdown" role="button" aria-expanded="false" id="subnav" aria-haspopup="true">Współpraca</a>
                                <div class="dropdown-menu" aria-labelledby="subnav">
                                    <a class="dropdown-item" href="{% url 'serw-med-coop' %}#clients">Klienci</a>
                                    <a class="dropdown-item" href="{% url 'serw-med-coop' %}#producents">Producenci</a>
                                    <a class="dropdown-item" href="{% url 'serw-med-coop' %}#services">Serwisy</a>
                                </div>
                            </li>
                            <a class="nav-item nav-link" href="{% url 'serw-med-gall' %}">Galeria</a>
                            <a class="nav-item nav-link" href="{% url 'serw-med-store' %}">Sklep</a>
                        </div>

                        <div class="navbar-nav">
                            {% if user.is_authenticated %}
                                <a class="nav-item nav-link" href="{% url 'serw-med-profile' %}">Profil</a>
                                <a class="nav-item nav-link" href="{% url 'serw-med-logout' %}">Wylogowanie</a>
                            {% else %}
                                <a class="nav-item nav-link" href="{% url 'serw-med-login' %}">Logowanie</a>
                                <a class="nav-item nav-link" href="{% url 'serw-med-register' %}">Rejestracja</a>
                            {% endif %}

                            {% if request.path == '/store/' %}
                            <a href="{% url 'serw-med-cart' %}">
                                <img class="basket-img" src="/media/store/basket_white.png">
                                <p id="cart-total">{{ cartItems }}</p>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <main role="main" class="container">

            <!-- Play background music from https://freemusicarchive.org/ -->
            <audio id="backgorundAudio" loop autoplay preload="auto" style="display:none">
                <source src="/media/music/sample1.mp3"/>
            </audio>

            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            {% block content %}{% endblock %}
        </main>

        <footer>
            <div class="footer">
                <a href="https://www.djangoproject.com" target="_blank">
                    <img class="logo-img" src="/media/logo/django.png">
                </a>
                <a href="https://github.com" target="_blank">
                    <img class="logo-img" src="/media/logo/github.png">
                </a>
                <a href="https://circleci.com" target="_blank">
                    <img class="logo-img" src="/media/logo/circleci.png">
                </a>
                <a href="https://www.heroku.com/home" target="_blank">
                    <img class="logo-img" src="/media/logo/heroku.png">
                </a>

                <div id="watch" style="float:right; margin-right: 10px;">hh:mm:ss</div>
            </div>
        </footer>

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </body>

</html>