{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

  <!-- Contact Us Section -->
    <section class="Material-contact-section section-padding section-dark">
      <div class="container">
          <div class="row">
              <!-- Section Titile -->
              <div class="col-md-12 wow animated fadeInLeft" data-wow-delay=".2s">
                  <h1 class="section-title">Dane kontaktowe:</h1>
              </div>
          </div>
          <div class="row">
              <!-- Section Titile -->
              <div class="col-md-6 mt-3 contact-widget-section2 wow animated fadeInLeft" data-wow-delay=".2s">
                <div class="find-widget">
                    Firma: Serwis Aparatury Medycznej SERW-MED Wiesława Górecka
                </div>
                <div class="find-widget">
                    Adres: Bielicka 8/13 85-307 Bydgoszcz
                </div>
                <div class="find-widget">
                    Telefon: 601 658 690
                </div>

                <div class="find-widget">
                    Strona internetowa:
                    <a href="https://serwmed.pythonanywhere.com" target="_blank">https://serwmed.pythonanywhere.com</a></br>
                    <a href="https://serw-med.herokuapp.com" target="_blank">https://serw-med.herokuapp.com</a>
                </div>
                <div class="find-widget">
                    Email: wieslawagorecka1953@gmail.com
                </div>
                  <div class="find-widget">
                    NIP: 9531756238
                </div>
                  <div class="find-widget">
                    REGON: 385787674
                </div>
                  <div class="find-widget">
                    Bank: ING Bank Śląski S.A. 33 1050 1139 1000 0097 2756 3901
                </div>

                  <!--The div element for the map -->
                  <div id="map"></div>
                  <script>
                  // Initialize and add the map
                  function initMap() {
                  // The location of Uluru
                  var uluru = {lat: 53.113800, lng: 17.991090};
                  // The map, centered at Uluru
                  var map = new google.maps.Map(
                  document.getElementById('map'), {zoom: 13, center: uluru});
                  // The marker, positioned at Uluru
                  var marker = new google.maps.Marker({position: uluru, map: map});
                  }
                  </script>
                  <!--Load the API from the specified URL
                  * The async attribute allows the browser to render the page while the API loads
                  * The key parameter will contain your own API key (which is not needed for this tutorial)
                  * The callback parameter executes the initMap() function
                  -->
                  <script async defer
                          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8JFJdf81FVwoRayndCSblsy_BIsRXb2U&callback=initMap">
                  </script>

                  <div class="socialmedia">
                      <a href="https://pl-pl.facebook.com/" target="_blank" class="mx-3">
                          <div class="socialportal facebookfont">
                            <i class="icon-facebook-squared"></i>
                          </div>
                      </a>
                      <a href="https://www.youtube.com/" target="_blank" class="mx-3">
                          <div class="socialportal youtubefont">
                              <i class="icon-youtube"></i>
                          </div>
                      </a>
                  </div>

              </div>
              <!-- contact form -->
              <div class="col-md-5 mt-5 mb-3 wow animated fadeInRight" data-wow-delay=".2s">
                  <div class="content-section">
                      <form method="POST" enctype="multipart/form-data">
                          {% csrf_token %}
                          <fieldset class="form-group">
                             <legend class="border-bottom mb-4">Skontaktuj się z nami!</legend>
                             {{ form | crispy }}
                          </fieldset>
                          <div class="form-group">
                              <button class="btn btn-outline-info" type="submit">Wyślij</button>
                          </div>
                      </form>
                   </div>
              </div>
          </div>

      </div>
    </section>

{% endblock %}