{% extends "base.html" %}
{% load static %}
{% block content %}

    <!-- Scroll to top button functionality -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="{% static 'jquery.scrollTo.min.js' %}"></script>
    <script src="{% static 'jquery.scrollUpButtonCooperation.js' %}"></script>
    <a href="#" class="scrollup"></a>

    <article>

        <div class="container">
            <div class="row">

                <div class="col-lg-8 bg-white p-4" style="border-radius: 20px;">
                    <header>

                        <h1 class="h2 ml-0 mb-4 text-center">Współpraca</h1>

                        <p class="text-justify lead">Zdolność tworzenia więzi i współdziałania z innymi,
                            umiejętność pracy w grupie na rzecz osiągania wspólnych celów,
                            umiejętność zespołowego wykonywania zadań i wspólnego rozwiązywania problemów.</p>

                        <img src="/media/cooperation/hands.jpg" class="img-fluid col-lg-3 float-left" style="border-radius: 5%;">

                        <blockquote class="blockquote">
                            <p class="text-justify wpis">"Ludzie pracujący razem jako jedna grupa potrafią dokonać rzeczy
                            których osiągnięcie nie śniło się nikomu z osobna."</p>

                            <footer class="blockquote-footer">
                                Franklin Delano Roosvelt
                            </footer>
                        </blockquote>

                    </header>
                </div>

                <div class="col-lg-4 teamtable">
                    <img src="/media/cooperation/teamTable.jpg" class="img-fluid" style="border-radius: 5%">
                </div>

                <div class="border-top pt-2 col-12 text-center my-5">
                    <h1 class="h2 ml-0 mb-4 text-center" id="clients">Klienci</h1>

                    <a href="https://www.medicover.pl" target="_blank">
                        <img src="/media/cooperation/medicover.png" class="img-fluid col-lg-3 float-left my-1">
                    </a>

                    <a href="https://belzy27.pl" target="_blank">
                        <img src="/media/cooperation/belzy.png" class="img-fluid col-lg-3 float-left my-1">
                    </a>

                    <a href="https://medenclinic.pl" target="_blank">
                        <img src="/media/cooperation/meden.png" class="img-fluid col-lg-3 float-left my-4">
                    </a>

                    <a href="https://przychodniaogrody.pl" target="_blank">
                        <img src="/media/cooperation/ogrody.jpeg" class="img-fluid col-lg-3 float-left my-1">
                    </a>

                    <a href="http://www.lux-dent.pl" target="_blank">
                        <img src="/media/cooperation/luxdent.png" class="img-fluid col-lg-3 float-left my-1">
                    </a>

                    <a href="https://perio-dens.pl" target="_blank">
                        <img src="/media/cooperation/periodens.png" class="img-fluid col-lg-3 float-left my-1">
                    </a>

                    <a href="https://www.wident.eu/pl" target="_blank">
                        <img src="/media/cooperation/vident.png" class="img-fluid col-lg-3 float-left my-1">
                    </a>

                    <a href="http://www.ortodonta.bydgoszcz.pl" target="_blank">
                        <img src="/media/cooperation/kaczmarek.jpg" class="img-fluid col-lg-3 float-left my-4">
                    </a>

                    <!--<a href="http://kadental.pl" target="_blank">
                        <img src="/media/cooperation/kadental.png" class="img-fluid col-lg-3 float-left my-1">
                    </a>-->
                </div>

                <div class="border-top pt-2 col-12 text-center my-5">
                    <h1 class="h2 ml-0 mb-4 text-center" id="producents">Producenci</h1>

                    <a href="https://www.melag.com" target="_blank">
                        <img src="/media/cooperation/melag.png" class="img-fluid col-lg-3 float-left my-1">
                    </a>

                    <a href="https://www.varian.com" target="_blank">
                        <img src="/media/cooperation/varian.png" class="img-fluid col-lg-3 float-left my-1">
                    </a>

                    <a href="https://protec-med.com" target="_blank">
                        <img src="/media/cooperation/protec.png" class="img-fluid col-lg-3 float-left my-1">
                    </a>

                    <a href="http://www.chirana.eu" target="_blank">
                        <img src="/media/cooperation/chirana.png" class="img-fluid col-lg-3 float-left my-1">
                    </a>

                    <a href="https://farum.pl" target="_blank">
                        <img src="/media/cooperation/farum.png" class="img-fluid col-lg-3 float-left my-1">
                    </a>

                    <a href="https://xray-swiss.ch" target="_blank">
                        <img src="/media/cooperation/josef.png" class="img-fluid col-lg-3 float-left my-1">
                    </a>

                    <a href="http://www3.gehealthcare.pl" target="_blank">
                        <img src="/media/cooperation/gehealthcare.png" class="img-fluid col-lg-3 float-left my-1">
                    </a>

                    <a href="http://www.mkjradiologia.pl" target="_blank">
                        <img src="/media/cooperation/mkjradiologia.png" class="img-fluid col-lg-3 float-left my-1">
                    </a>

                    <a href="https://sternweber.pl" target="_blank">
                        <img src="/media/cooperation/sternweber.png" class="img-fluid col-lg-3 float-left my-1">
                    </a>

                    <a href="http://www.makromed.com.pl" target="_blank">
                        <img src="/media/cooperation/makromed.png" class="img-fluid col-lg-3 float-left my-1">
                    </a>

                    <a href="http://www.dentalholding.com" target="_blank">
                        <img src="/media/cooperation/dentalholding.png" class="img-fluid col-lg-3 float-left my-1">
                    </a>

                    <a href="https://www.carestream.com" target="_blank">
                        <img src="/media/cooperation/carestream.png" class="img-fluid col-lg-3 float-left my-1">
                    </a>

                    <a href="http://www.nsk-dental.com" target="_blank">
                        <img src="/media/cooperation/nsk.png" class="img-fluid col-lg-3 float-left my-1">
                    </a>

                    <a href="https://www.wh.com/pl_poland/" target="_blank">
                        <img src="/media/cooperation/wah.png" class="img-fluid col-lg-3 float-left my-1">
                    </a>

                    <a href="http://tinget.pl" target="_blank">
                        <img src="/media/cooperation/tinget.png" class="img-fluid col-lg-3 float-left my-1">
                    </a>

                    <a href="http://www.woson.eu" target="_blank">
                        <img src="/media/cooperation/woson.png" class="img-fluid col-lg-3 float-left my-1">
                    </a>

                    <a href="https://www.vatech.com" target="_blank">
                        <img src="/media/cooperation/vatech.png" class="img-fluid col-lg-3 float-left my-1">
                    </a>

                    <a href="http://www.fedesa.com" target="_blank">
                        <img src="/media/cooperation/fedesa.png" class="img-fluid col-lg-3 float-left my-1">
                    </a>

                    <a href="https://www.mocom.it" target="_blank">
                        <img src="/media/cooperation/mocom.png" class="img-fluid col-lg-3 float-left my-1">
                    </a>

                    <a href="http://www.glwoodpecker.com/index.html" target="_blank">
                        <img src="/media/cooperation/woodpecker.png" class="img-fluid col-lg-3 float-left my-1">
                    </a>
                </div>

                <div class="border-top pt-2 col-12 text-center my-5">
                    <h1 class="h2 ml-0 mb-4 text-center" id="services">Serwisy</h1>
                </div>

            </div>
        </div>

    </article>

{% endblock %}