{% extends "base.html" %}
{% block content %}

    <script src="/static/gallerySlideShow.js"></script>

    <div id="gallerySlider">
        <img src="/media/gallery/1.png" onload="changeSlide()">
    </div>
    <div id="galleryButtons">
        <div id="galleryPauseButton">
            <img src="/media/gallery/pause2.png" onclick="playSlide()">
        </div>
        <img src="/media/gallery/prev2.png" onclick="prevSlide()">
        <img src="/media/gallery/next2.png" onclick="nextSlide()">
    </div>

{% endblock %}