{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col-md-8">

    {% for news in newses %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ news.author.profile.image.url }}">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ news.author }}</a>
                    <small class="text-muted">{{ news.date_posted|date:"d F Y" }}</small>
                </div>
                <h2><a class="article-title" href="#">{{ news.title }}</a></h2>
                <p class="article-content">{{ news.content }}</p>
            </div>
        </article>
    {% endfor %}

    </div>
        <div class="col-md-4">
            <div class="content-section">
                <h3>Our Sidebar</h3>
                <p class='text-muted'>You can put any information here you'd like.
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-light">Latest News</li>
                        <li class="list-group-item list-group-item-light">Announcements</li>
                        <li class="list-group-item list-group-item-light">Calendars</li>
                        <li class="list-group-item list-group-item-light">etc</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>

    </div>
</div>

{% endblock %}